<h1><%="Here are the Client Details about #{@client.first_name} #{@client.last_name}"%></h1>

<p><%=@client.company_name%></p>
<p><%=@client.email%></p>

<%= link_to 'Back', clients_path %>
<%= link_to 'Edit', edit_client_path(@client) %>
<%= link_to 'New Project', new_client_project_path(@client) %>

<h2>Projects</h2>

<ul>
	<% @client.projects.each do |project| %>
		<li>
			<tr>
				<td><%="#{project.name} "%></td>
				<td><%="#{project.description} "%></td>
				<td><%= link_to ' Project Details', client_project_path(@client,project)%></td>
	    		<td><%= link_to ' Edit Project', edit_client_project_path(@client,project)%></td>

			</tr>
		</li>	
	<%end%>
</ul>

