<h2><%="Issue: #{@issue.title}"%></h2>

<p><%=@issue.body%><p>

<%if current_user %>
	<%= link_to ' Edit issue', edit_issue_path(@issue)%>
<%end%>
<%= link_to ' Go Back', :back%>
<%= link_to ' Go Home', root_path%>

