<h1>Edit Deliverable</h1>

<h1><%= "#{@deliverable.name}"%></h1>

<%= form_for :deliverable, url: deliverable_path(@deliverable), method: :patch do |f| %>

	<% if @deliverable.errors.any? %>
	    <ul>
	    <% @deliverable.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>
	<%= f.label :name, "Name:" %>
	<%= f.text_field :name %><br />

	<%= f.label :description, "Description:" %>
	<%= f.text_field :description %><br />

	<%= f.submit %>	
<% end %>
 
<%= link_to 'Back', deliverable_path %>